In [4]:
def square(number, print_result=False):
    """
    Returns the square of a number.
    
    params:
     - number - int, number to be squared
     - print_result - bool, will print the result if True
    
    return:
     - integer, square of number
    """
    result = number ** 2
    if print_result:
        print('The result is', result)
    return result

In [5]:
print(square(3))

9

In [6]:
# print(square("abc"))

In [7]:
print(square(3, True))

The result is 9
9

In [9]:
print(square(True, 3))
print(square(print_result=True, number=3))

The result is 1
1
The result is 9
9

In [10]:
print(square())

TypeError: square() missing 1 required positional argument: 'number'

In [24]:
def cube(number:int) -> int:
    if not isinstance(number, int):
        return -1
    result = number ** 3
    return result

In [25]:
print(cube(3))

27

In [26]:
print(cube(4.7))

-1

In [27]:
print(cube(-1))

-1

In [47]:
def square(number, print_result=False):
    global a
    print(a)
    a += 1
    result = number ** 2
    if print_result:
        print('The result is', result)
    return result

In [49]:
a = 5
print(square(a))
print(a)
# print(result)

5
25
6

In [51]:
def no_return_value():
    pass
    # return None

print(no_return_value())

None

In [52]:
def multiple_return_values():
    return 1, 2, 3

In [53]:
print(multiple_return_values())

(1, 2, 3)

In [55]:
res = multiple_return_values()
print(res)
print(res[0])

a, b, c = multiple_return_values()
print(a)
print(b)
print(c)

(1, 2, 3)
1
1
2
3

In [58]:
a, b, _ = multiple_return_values()
print(a)
print(b)
print(_)

1
2
3

In [60]:
x = 5
expr = input("Enter an expression using x: ")
print(eval(expr))

Enter an expression using x: x * x + x
30

In [64]:
def square(number):
    return number ** 2

def cube(number):
    return number ** 3

func = input("Enter a function (square/cube): ")
for num in range(1, 11):
    print(eval(func)(num))

Enter a function (square/cube): square
1
4
9
16
25
36
49
64
81
100

In [66]:
lst1 = ['a', 'b', 'c', 'd']
lst2 = [1, 2, 3, 4]

for idx in range(len(lst1)):
    print(lst1[idx], lst2[idx])

for let, num in zip(lst1, lst2):
    print(let, num)

a 1
b 2
c 3
d 4
a 1
b 2
c 3
d 4

In [67]:
myfile = open('test.txt', 'w')

In [68]:
myfile.write('gasvbasvblsakfbks\n')

18

In [69]:
myfile.flush()

In [70]:
myfile.writelines(["second line\n", "third line\n"])

In [71]:
myfile.close()

In [72]:
readfile = open("test.txt", 'r')
print(readfile.readlines())

['gasvbasvblsakfbks\n', 'second line\n', 'third line\n']

In [73]:
readfile.close()

In [74]:
with open('test.txt', 'r') as readfile:
    lines = readfile.readlines()

In [75]:
print(lines)

['gasvbasvblsakfbks\n', 'second line\n', 'third line\n']

In [76]:
def is_palindrome(sequence):
    if len(sequence) == 0:
        return True
    if len(sequence) == 1:
        return True
    
    return sequence[0] == sequence[-1] and is_palindrome(sequence[1:-1])

In [77]:
print(is_palindrome("abcba"))
print(is_palindrome("abcde"))
print(is_palindrome("abccba"))
print(is_palindrome("abcccab"))

True
False
True
False

In [78]:
def fibonacci(n):
    if n == 1:
        return 0
    if n == 2:
        return 1
    
    return fibonacci(n - 2) + fibonacci(n - 1)

In [79]:
# 0, 1, 1, 2, 3, 5, 8, 13, 21, ...
print(fibonacci(1))
print(fibonacci(2))
print(fibonacci(3))
print(fibonacci(7))

0
1
1
8

In [83]:
print(fibonacci(35))

5702887

In [84]:
def barnyard(heads, legs):
    for chicken in range(0, heads + 1):
        rabbits = heads - chicken
        if 2 * chicken + 4 * rabbits == legs:
            return chicken, rabbits

In [85]:
print(barnyard(48, 128))

(32, 16)

In [86]:
def fib(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a + b

In [87]:
fib_gen = fib(10)
next(fib_gen)

0

In [97]:
next(fib_gen)

StopIteration:

In [98]:
def fib():
    a, b = 0, 1
    while True:
        yield a
        a, b = b, a + b

In [99]:
inf_gen = fib()

In [118]:
next(inf_gen)

2584

In [119]:
my_list = [1, 5, 4, 6, 8, 11, 13, 15, 27]
new_list = list(filter(lambda x: x % 2, my_list))

In [120]:
print(new_list)

[1, 5, 11, 13, 15, 27]

In [121]:
my_list = ["id0", "id37", "id13", "id1", "id4"]
print(sorted(my_list))

['id0', 'id1', 'id13', 'id37', 'id4']

In [122]:
print(sorted(my_list, key=lambda s: int(s[2:])))

['id0', 'id1', 'id4', 'id13', 'id37']

In [125]:
my_list = [
    {
        "name": "A B",
        "age": 27
    },
    {
        "name": "D A",
        "age": 31
    },
    {
        "name": "E E",
        "age": 19
    },
    {
        "name": "E D",
        "age": 26
    }
]
print(sorted(my_list, key=lambda x: x["age"]))
print(sorted(my_list, key=lambda x: x["name"].split()[-1]))

[{'name': 'E E', 'age': 19}, {'name': 'E D', 'age': 26}, {'name': 'A B', 'age': 27}, {'name': 'D A', 'age': 31}]
[{'name': 'D A', 'age': 31}, {'name': 'A B', 'age': 27}, {'name': 'E D', 'age': 26}, {'name': 'E E', 'age': 19}]